.proyect {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
    padding-top: 60px;
    padding-bottom: 60px;
    border-bottom: 1px solid #272829;
}

.proyect:nth-of-type(even) {
    flex-direction: row-reverse;
}

.proyect__figure {
    width: 480px;
    overflow: hidden;
    border-radius: 16px;
    border: 5px solid #1D1E20;
}

.proyect__figure > img {
    width: 100%;
}

.tecnologies {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.proyect__description {
    width: 463px;
}

.tecnologies > .item {
    width: 36px;
    background-color: #272829;
    border: 1px solid #373839;
    border-radius: 12px;
    padding: 5px 5px;
}

.tecnologies > .item:nth-of-type(1) {
    margin-left: 20px;
}

.proyect__links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
}

@media (max-width: 700px) {
    .proyect {
        flex-direction: column !important;
    }

    .proyect__description {
        width: 100%;
    }

    .proyect__links {
        margin-bottom: -20px;
    }

    .proyect__figure {
        width: 100%;
    }
}

@media (max-width: 328px) {
    .proyect__links {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .tecnologies > .item:nth-of-type(1) {
        margin-left: 0px;
    }
}