<section id="proyectos" class="proyects">
    <div class="container">
        <h1>Proyectos</h1>
        <h2>Mis proyectos destacados</h2>
        <div class="proyect">
            <div class="proyect__description">
                <p class="proyect__title">Sistema de Tickets</p>
                <p class="proyect__desc">Un sistema web de tickets básico.</p>
                <p class="proyect__desc">Ideal para llevar un control de peticiones de soporte técnico.</p>
                <div class="proyect__links">
                    <a target="_blank" href="https://github.com/yh9alek/STicket-Node.js" class="link"><i class="bi bi-github"></i> GitHub</a>
                </div>
            </div>
            <figure class="proyect__figure">
                <img src="https://raw.githubusercontent.com/yh9alek/miscellaneous/main/src/STicket/imgs/sticket.png" alt="Proyecto">
            </figure>
        </div>
        <div class="proyect">
            <div class="proyect__description">
                <p class="proyect__title">Sistema de Tickets</p>
                <p class="proyect__desc">Un sistema web de tickets básico.</p>
                <p class="proyect__desc">Ideal para llevar un control de peticiones de soporte técnico.</p>
                <div class="proyect__links">
                    <a href="#" class="link"><i class="bi bi-github"></i> GitHub</a>
                </div>
            </div>
            <figure class="proyect__figure">
                <img src="https://raw.githubusercontent.com/yh9alek/miscellaneous/main/src/STicket/imgs/sticket.png" alt="Proyecto">
            </figure>
        </div>
    </div>
</section>