<section id="sobremi" class="about">
    <div class="container">
        <h1 class="about__title">Sobre mi</h1>
        <h2 class="about__desc">Desarrollador de Software</h2>
        <div class="profile">
            <div class="profile__texts">
                <div class="profile__top">
                    <div class="profile__name">Yohan Alek Plazola Arangure</div>
                    <div class="profile__hobbies">
                        <i class="bi bi-controller"></i>
                        <i class="bi bi-music-note-beamed"></i>
                        <i class="bi bi-bicycle"></i>
                        <i class="bi bi-body-text"></i>
                    </div>
                </div>
                <p class="__desc">Me gusta la programación, aportar soluciones, trabajar en equipo y aprender de los demás. Autodidacta, proactivo y amante del café.</p>
            </div>
            <img class="asset" src="https://raw.githubusercontent.com/yh9alek/miscellaneous/main/src/Personal/imgs/livewire.png" alt="Livewire">
        </div>
    </div>
</section>