<section id="inicio" class="home">
    <div class="container">
        <div class="home__left">
            <p class="home__desc">Yohan Alek</p>
            <p class="home__title">Software Developer</p>
            <div class="home__buttons">
                <div class="white-block"></div>
                <a href="https://raw.githubusercontent.com/yh9alek/miscellaneous/main/src/Personal/src/Yohan%20Alek%20Plazola%20Arangure%20CV%20Espa%C3%B1ol.pdf" class="btn buttons__cv">Descargar CV</a>
                <a target="_blank" href="https://www.linkedin.com/in/yohan-alek-977616296" class="buttons__lin"><i class="bi bi-linkedin"></i></a>
                <a target="_blank" href="https://github.com/yh9alek" class="buttons__git"><i class="bi bi-github"></i></a>
            </div>
        </div>
        <div class="home__right">
            
        </div>
    </div>
</section>