<div class="background"></div>
<header class="header">
    <div class="cont">
        <div class="header__btn-menu">
            <i class="bi bi-list"></i>
        </div>
        <div class="container">
            <div class="header__person">
                <img class="bandera" src="https://upload.wikimedia.org/wikipedia/commons/f/fc/Flag_of_Mexico.svg" alt="México">
                <figure class="person__figure">
                    <!-- <img src="" alt="Foto"> -->
                </figure>
                <div>
                    <p class="person__title">Yohan Alek</p>
                    <p class="person__desc">Software Developer</p>
                </div>
            </div>
            <ul class="header__menu">
                <li><a href="#inicio">Inicio</a></li>
                <li><a href="#proyectos">Proyectos</a></li>
                <li><a href="#sobremi">Sobre mí</a></li>
                <li><a href="#otros">Otros</a></li>
            </ul>
        </div>
    </div>
</header>