<header class="header">
    <div class="container">
        <div class="header__person">
            <img class="bandera" src="https://upload.wikimedia.org/wikipedia/commons/f/fc/Flag_of_Mexico.svg" alt="México">
            <figure class="person__figure">
                <!-- <img src="" alt="Foto"> -->
            </figure>
            <div>
                <p class="person__title">Yohan Alek</p>
                <p class="person__desc">Software Developer</p>
            </div>
        </div>
        <ul class="header__menu">
            <li>Inicio</li>
            <li>Proyectos</li>
            <li>Sobre mi</li>
            <li>Otro</li>
        </ul>
    </div>
</header>